html {
    font-size: 10px;
    background: #fff;
}

body {
    margin: 0;
}

body.guide::before {
    content: '';
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 50%;
    height: 200vh;
    width: 1280px;
    margin-left: -640px;
}

body.baseline::before {
  /* 베이스라인 그리드 */
  background: linear-gradient(180deg, transparent 23px, #f06f6f 23px);
  background-size: 1px 24px;
  /*background-size를 지정해줘야 패턴으로 그릴 사이즈를 지정해주는 것이다.*/
}

body.columns::before {
  /* 컬럼 그리드 */
  background: linear-gradient(90deg, hsla(21, 90%, 65%, 0.4) 50%, hsla(21, 90%, 65%, 0.2) 50%);
  background-size: 320px 1px;
}

body.columns-baseline::before {
    /*베이스라인+컬럼 멀티*/
    background: 
        linear-gradient(180deg, transparent 23px, #f06f6f 23px),
        linear-gradient(90deg, hsla(21,90%,65%,0.4) 50%, hsla(21,90%,65%,0.2) 50%);
    background-size: 1px 24px, 320px 1px;
}

.container {
    /*폭을 지정해주는 모듈이므로 높이값은 필요없음*/
    width: 1280px;
    margin-left: auto;
    margin: auto;
}

.row::after {
    /*row, clearfix 모듈 - flaot를 clear해주는 모듈*/
    content: '';
    display: block;
    clear: both;    
}

.column {
    /*column 모듈 -가로로 박스가 쌓이는 것이기 때문에 float를 사용(거터가 있는 컬럼일 경우 마진값을 설정해야함)*/
    float: left;
}

/*--is-(n)으로 만든 모듈로 컬럼의 갯수를 설정하여 영역을 지정해줄 수 있음*/
.is-1 {width: 160px;}
.is-2 {width: 320px;}
.is-3 {width: 480px;}
.is-4 {width: 640px;}
.is-5 {width: 800px;}
.is-6 {width: 960px;}
.is-7 {width: 1120px;}
.is-8 {width: 1280px;}

.is-offset-1 {margin-left: 160px;}
.is-offset-2 {margin-left: 320px;}
.is-offset-3 {margin-left: 480px;}
.is-offset-4 {margin-left: 640px;}
.is-offset-5 {margin-left: 800px;}
.is-offset-6 {margin-left: 960px;}
.is-offset-7 {margin-left: 1120px;}
.is-offset-8 {margin-left: 1280px;}