html {
  background-color: #f5f5f5;
}

::selection {
  background: #3131c9;
  color: #fff;
}

.baskerville {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

.montserrat {
  font-weight: 300;
  /* Light */
  font-family: 'Montserrat', sans-serif;
}

.is-bold {
  font-weight: 700;
  /* Bold */
}

.grace-ui.banner {
  width: 580px;
  height: 450px;
  background: #fff url("../images/chair.png") no-repeat 42px 40px;
  border: 1px solid rgba(238, 238, 238, 0.51);
  box-shadow:none;
  border-radius: 10px;
}

.is-centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220.5px;
  margin-left: -290px;
}

.banner-category {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 12px;
  color: #12407e;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.banner-headline {
  margin: 0;
  position: absolute;
  top: 123px;
  right: 40px;
  color: #000;
  font-size: 28px;
  line-height: 1.3573;
}

.banner-text {
  position: absolute;
  top: 215px;
  right: 52px;
  font-size: 14px;
  line-height: 1.5;
  color: #8c9199;
}


.banner-link {
  position: absolute;
  bottom: 74px;
  right: 179px;
  }
