/*! main.css @ 2017, yamoo9.net */
html {
  overflow-y: scroll;
  font-size: 10px;
  background: #fff;
}

body {
  margin: 0;
  font-size:  21px;
  font-family: "Spoqa Han Sans", Dotum, Sans-Serif;
  line-height: 1.5;
  font-weight: 700;
  color : #595959;
}

::selection {
  background: #3131c9;
  color: #fff;
}


category, ul, li {
    list-style: none;
    margin-top: 0;
    margin-bottom: 23px;
    padding-left: 0;
    color : #595959;
}

a:link {
    color: #595959;
    text-decoration: none;  
}
a:hover {
    color: #3131c9;}

container {
    max-width: 1366px;
    min-height: 960px;
    margin-left: auto; 
    margin-right: auto;
    background: #fff url("../images/header_logo.png") no-repeat 1px 1px;
}

.is-centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -600px;  
}

.project-list::after {
    content: '';
    display: block;
    clear: both;
}

.item {
    margin-top:225px; 
    float: left;
}
/* 

img {
    margin-top: 5.1rem; 
    vertical-align: middle;
} */