/*웹 폰트 모듈*/
.baskerville {
    font-family: 'Libre Baskerville', serif;
}
.is-italic {
    font-style: italic;
}

.montserrat {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.is-bold {
    font-weight: 700;
}

/*배너 디자인*/
.grace-ui.banner {

    width: 580px;
    height: 215px;
    /*background: transparent url() repeat left top scroll*/
    background: #fff url("../image/people.png") no-repeat 88px 9px;
    /*border: 1px solid #cdcdcd;*/
    box-shadow: 0 3px 7px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.is-centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -107.5px;
    margin-left: -290px;
}

.banner-category {
    position: absolute;
    top: 97px;
    left: 21px;
    font-size: 12px;
    letter-spacing: 0.6px;
    /*대문자로 변형해줌*/
    text-transform: uppercase;
}

.banner-headline {
    position: absolute;
    top: -8px;
    right: 60px;
    color: #dba68f;
    font-size:36px;
    line-height: 1.1111;
}

.banner-review {
/*위치*/
}
.banner-review * {
    position: absolute;
    bottom: 13px;
    font-size: 13px;
    padding-left: 24px;
}
/*개별 디자인*/
.banner-review .review-view {
    right: 137px;
    margin-right: 20px;
    background: url("../image/icon-view.svg") no-repeat 0 50%;
}
.banner-review .review-comments {
    right: 98px;
    background: url("../image/icon-comments.svg") no-repeat 0 50%;
}

.banner-review-link {
    position: absolute;
    bottom: 52px;
    right: 46px;
    /*display: none;*/
    padding:0.75em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 14px;
    color:#fff;
    background: #000;
    border-radius: 30px;
}