.behance, .clock, .dribbble, .facebook, .gui-sprites, .instagram, .mastercard, .paypal, .twitter, .visa{
	background: url(sprites.png) no-repeat;
}

.behance{
	background-position: -28px -29px ;
	width: 26px;
	height: 26px;
}

.clock{
	background-position: -86px -6px ;
	width: 17px;
	height: 17px;
}

.dribbble{
	background-position: -28px 0;
	width: 26px;
	height: 26px;
}

.facebook{
	background-position: 0 0;
	width: 26px;
	height: 26px;
}

.gui-sprites{
	background-position: -498px -54px ;
	width: 0px;
	height: 0px;
}

.instagram{
	background-position: -57px 0;
	width: 26px;
	height: 26px;
}

.mastercard{
	background-position: -56px -29px ;
	width: 39px;
	height: 23px;
}

.paypal{
	background-position: -3px -63px ;
	width: 36px;
	height: 10px;
}

.twitter{
	background-position: 0 -29px ;
	width: 26px;
	height: 26px;
}

.visa{
	background-position: -42px -61px ;
	width: 39px;
	height: 13px;
}

